/* App.css */
@import "~bootstrap/dist/css/bootstrap.min.css";

.container-md{
  font-size: 15px;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }
  
  /* Define styles for the text */
  .text-muted {
    color: #888888;
  }
  
  .lead {
    font-size: 40px;
  }
  
  /* Define styles for the connected account */
  .connected-account {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 0.875rem;
  }

  form {
      padding: 13px;
  }

  button.btn {
      background-color: #CFE2FF;

      border: 3px solid #CFE2FF;

      transition: .2s linear;
  }

  button.btn:hover {
      background-color: #fff;

      border: 3px solid #CFE2FF;
  }


