@import "~bootstrap/dist/css/bootstrap.min.css";
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    width: 100%; 
  }
  
  /* Define styles for the text */
  .text-muted {
    color: #888888;
  }

  .alert-primary {
      margin-bottom: 200px;
  }

  .lead {
    font-size: 40px;
  }
  
  /* Define styles for the connected account */
  .connected-account {
    font-size: 16px;
  }
  .mes{
    color: black;
  }

