@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;

  font-family: "Poppins";
}

body {
  overflow-x: hidden;
}

.bg{
  background-color: #070F2B;
}

.navmenu {
  background-color: #fff;

  margin-bottom: 0px;
}

.hero-image {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('https://cf.ltkcdn.net/charity/images/orig/260197-1600x900-Group_Volunteers_Celebrating.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
  z-index: 1;
}

.hero-text {
  position: relative;
  color: #fff;
  font-size: 100px;
  font-weight: 800;
  z-index: 2;
}

.hero-subtext {
  color: #fff;
  z-index: 2;
}

